@keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
}
    
body {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: 100vh;
    margin: 0;
    padding-top: 10vw;
    padding-left: 15vw;
    padding-right: 15vw;
    
    background: linear-gradient(121deg, #8ed1fc, #7adcb4, #00d082, #7adcb4, #fcb900, #ff6900, #fcb900);
    background-size: 1200% 1200%;

    animation: AnimationName 40s ease infinite;
    animation: AnimationName 40s ease infinite;
    animation: AnimationName 40s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h1 {
    font-family: 'Ultra', serif;
    font-size: calc(3rem + 3vw);
    letter-spacing: 0.05em;
    white-space: wrap;
    margin-bottom: 20px;
}

h2 {
    font-size: calc(1rem + 1.5vw);
    font-family: 'Courier New', Courier, monospace;
}
  
#message {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-top: 50px;
    text-align: left;
}
  
#cheermeupButton {
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: larger;
    letter-spacing: .15em;
    display: block;
    color: white;
    background-color: black; 
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    max-width: 400px;
    align-items: left;
}

#cheermeupButton:hover {
    color: black;
    background-color: #fcb900;
}

@media (max-width: 400px) { 
    h1 { 
      font-size: calc(8rem + 6vw); /* adjust as needed */ 
    }
  
    h2 { 
      font-size: calc(4rem + 4vw); /* adjust as needed */ 
    } 
  }